MATCHINTEL_INGEST_URL=https://tkzfkkqcgmzqjfcokrws.supabase.co/functions/v1/matchintel-ingest
MATCHINTEL_INGEST_KEY=COLE_A_CHAVE_PRIVADA_AQUI
MATCHINTEL_SYNC_MS=20000
GATEWAY_URL=http://127.0.0.1:8787
